/* Estilizações Cabeçalho */
header {
  width: 64rem;
  height: 15vh;
  border-bottom: 0.1875rem solid var(--brand-color-2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 94.5%;
  background-color: var(--gray-color-8);
  position: fixed;
}

#theme-button {
  width: 2.75rem;
  height: 2.25rem;
  background-color: var(--gray-color-6);
  background-image: url("/src/assets/icons/moon-icon.svg");
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 0.3125rem;
  border-style: none;
}
